{
  "presets": [
    "stage-0",
    "flow"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ],
      "plugins": [
        "istanbul",
        "transform-decorators-legacy",
        ["flow-runtime", {
          "assert": false,
          "annotate": false
        }]
      ]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ],
      "plugins": [
        ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
        }],
        "transform-runtime"
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ],
      "plugins": [
        ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
        }],
        "transform-runtime"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
